.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.form {
  width: 400px;
}

.controls{
  border-radius: 20px;
  margin: 0px -38px;
}

.items:hover{
  text-align: center;
  color:white;
  background-color: grey;
  opacity: 0.6;
  border-radius: 20px;
  a{
    color:white;
  }
}
